body {
	font-size: 0.9em;
	color: black;
	font-family: "Verdana";
	padding: 1em 3em 1em 3em;
	}

a:link{
	color:blue;
	text-decoration: none;
}

a:visited{
	color:purple;
	text-decoration: none;
}

a:hover{
	color:orange;
	text-decoration: none;
}